.service-list {
    max-width: 800px;
    margin: 2rem auto;
    text-align: left;
  }
  
  .service-list ul {
    list-style: none;
    padding: 0;
  }
  
  .service-list li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #f3f3f3;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .service-list li:hover {
    background-color: #BB9AB1;
  }
  
  .service-list a {
    text-decoration: none;
    color: #987D9A;
    display: block;
  }
  
  .service-list a:hover {
    color: #FEFBD8;
  }
  