/* RegisterPage.css */
.register-page {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: left;
  background-color: #FEFBD8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-page h2 {
  text-align: center;
  color: #987D9A;
}

.register-page form {
  display: flex;
  flex-direction: column;
}

.register-page label {
  margin-bottom: 1rem;
  color: #333;
}

.register-page input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register-page button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #987D9A;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-page button:hover {
  background-color: #BB9AB1;
}

.error {
  color: red;
  text-align: center;
}
